
/*CONNEXION & INSCRIPTION*/
form{
    width: 75%;
    margin: auto;
    margin-top: 20%;
}

#creation-link{
    position: absolute;
    width: 75%;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
}

#text-no-list{
    text-shadow: 0 0 0;
    text-align: center;
}

#connexion-btn, #creation-link-btn, #creation-btn{
    background-color: #5CBCF6;
    border-color: #5CBCF6;
    color: #ffffff;
}

#fa-icon{
  background-color: rgba(0,0,0,0.0);
  border-color: rgba(0,0,0,0.0);
  color: #ffffff;
  box-shadow: 0 0 0;
  font-size: 20px;
}

#left-icon{
  background-color: rgba(0,0,0,0.0);
  border-color: rgba(0,0,0,0.0);
  box-shadow: 0 0 0;
}
/*HOME*/
#footer{
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#header{
  position: fixed;
  width: 100%;
  text-align: center;
}

#search-form{
  margin-top: 0;
  margin-left: 20%;
}

@media screen and (max-width: 450px) {
  #search-bar-container{
    margin-right: 20%;
  }
}
