
/*CONNEXION & INSCRIPTION*/
form{
    width: 75%;
    margin: auto;
    margin-top: 20%;
}

#creationLink{
    position: static;
    width: 75%;
    margin: 0 auto;
    margin-top: 20%;
}

#textNoList{
    text-shadow: 0 0 0;
    text-align: center;
}

#connexionBtn, #creationLinkBtn, #creationBtn{
    background-color: #5CBCF6;
    border-color: #5CBCF6;
    color: #ffffff;
}

#fa-icon{
  background-color: rgba(0,0,0,0.0);
  border-color: rgba(0,0,0,0.0);
  color: #ffffff;
  box-shadow: 0 0 0;
  font-size: 20px;
}

#leftIcon{
  background-color: rgba(0,0,0,0.0);
  border-color: rgba(0,0,0,0.0);
  box-shadow: 0 0 0;
}
/*HOME*/
#footer{
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#header{
  position: fixed;
  width: 100%;
  text-align: center;
}

#search-form{
  margin-top: 0;
  margin-left: 20%;
}

@media screen and (max-width: 450px) {
  #search-bar-container{
    margin-right: 20%;
  }
}
