
/*CONNEXION*/
form{
    width: 75%;
    margin: auto;
    margin-top: 20%;
}

#creation-link{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);  
}

#text-nolist{
    text-shadow: 0 0 0;
    text-align: center;   
}

/*HOME*/






